<section ng-controller="HomeController" class="section-home">
    <div class="main-slider">
        <div data-orbit-foundation>
            <nav class="orbit-bullets">
                <button class="is-active" data-slide="0"><span class="show-for-sr">First slide details.</span><span class="show-for-sr">Current Slide</span></button>
                <button data-slide="1"><span class="show-for-sr">Second slide details.</span></button>
                <button data-slide="2"><span class="show-for-sr">Third slide details.</span></button>
            </nav>
            <ul class="orbit-container">
                <li class="is-active orbit-slide">
                    <img class="orbit-image" src="http://foundation.zurb.com/sites/docs/assets/img/orbit-1.jpg" alt="Space">
                    <!--<figcaption class="orbit-caption">Space, the final frontier.</figcaption>-->
                </li>
                <li class="orbit-slide">
                    <img class="orbit-image" src="http://foundation.zurb.com/sites/docs/assets/img/orbit-2.jpg" alt="Space">
                    <!--<figcaption class="orbit-caption">Lets Rocket!</figcaption>-->
                </li>
                <li class="orbit-slide">
                    <img class="orbit-image" src="http://foundation.zurb.com/sites/docs/assets/img/orbit-3.jpg" alt="Space">
                    <!--<figcaption class="orbit-caption">Encapsulating</figcaption>-->
                </li>
            </ul>
        </div>
    </div>
    
    <!--end.main-slider-->
    <div class="main-content">
        <div class="inner-content">
            <div class="row collapse main-tabs">
                <div class="columns top-tabs">
                    <ul class="tabs " id="example-vert-tabs" tabs-foundation>
                        <li class="tabs-title is-active"><a href="#panel1v" aria-selected="true">All</a></li>
                        <li class="tabs-title"><a href="#panel2v">Feature Events</a></li>
                        <li class="tabs-title"><a href="#panel3v">Startup Weekends</a></li>
                    </ul>
                </div>
                <div class="columns bottom-tabs">
                    <div class="tabs-content vertical" data-tabs-content="example-vert-tabs">
                        <div class="tabs-panel is-active" id="panel1v">
                            <div class="row small-up-1 medium-up-2 large-up-3 box-wrapper">
                                <div class="column" data-ng-repeat="item in boxItems">
                                    <div class="box-item">
                                        <img src="{{item.img}}" class="" alt="hello">
                                        <div class="bottom-item">
                                            <div class="time">
                                                <i class="fa fa-clock-o"></i> {{item.time}} &nbsp;&nbsp;
                                                <i class="fa fa-location-arrow"></i> {{item.location}}
                                            </div>
                                            <div class="time">
                                                <i class="fa fa-retweet"></i> {{item.other}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tabs-panel" id="panel2v">
                            <div class="row small-up-1 medium-up-2 large-up-3 box-wrapper">
                                <div class="column" data-ng-repeat="item in boxItems | filter:{ feature : 1 }">
                                    <div class="box-item">
                                        <img src="{{item.img}}" class="" alt="hello">
                                        <div class="bottom-item">
                                            <div class="time">
                                                <i class="fa fa-clock-o"></i> {{item.time}} &nbsp;&nbsp;
                                                <i class="fa fa-location-arrow"></i> {{item.location}}
                                            </div>
                                            <div class="time">
                                                <i class="fa fa-retweet"></i> {{item.other}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tabs-panel" id="panel3v">
                            <div class="row small-up-1 medium-up-2 large-up-3 box-wrapper">
                                <div class="column" data-ng-repeat="item in boxItems | filter:{ feature : 0 }">
                                    <div class="box-item">
                                        <img src="{{item.img}}" class="" alt="hello">
                                        <div class="bottom-item">
                                            <div class="time">
                                                <i class="fa fa-clock-o"></i> {{item.time}} &nbsp;&nbsp;
                                                <i class="fa fa-location-arrow"></i> {{item.location}}
                                            </div>
                                            <div class="time">
                                                <i class="fa fa-retweet"></i> {{item.other}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="box-loading">
                            <i class="fa fa-spinner fa-spin fa-2x"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--end.main-content-->
</section>
