.scheduler-window-class {
    max-width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.15);
}

.custom-time-picker {
    td {
        padding: 0;
    }

    input {
        margin: 0 auto;
        height: 25px;
    }

    .btn {
        line-height: 15px;
        padding: 5px;
    }
}