<section ng-controller="PasswordController" class="expanded row full-height auth-page display-flex">
    <div class="large-6 column auth-left display-flex flex-column hide-for-small-only">
        <div class="in-right-oauth display-flex flex-column layout-center">
            <div class="show-for-medium text-center logo-div">
                <a ui-sref="home" title="Home">
                    <img src="modules/core/client/img/brand/logo-medium.png">
                </a>
            </div>
            <h3 class="text-center">Let's cocreate</h3>
            <h4 class="text-center">Register with social media</h4>
            <div>
                <div ng-click="callOauthProvider('/api/auth/facebook')" role="button" class="social-button social-facebook text-left">
                    <i class="fa fa-facebook"></i> &nbsp; Register with Facebook
                </div>
                <br>
                <div ng-click="callOauthProvider('/api/auth/facebook')" role="button" class="social-button social-linkedin text-left">
                    <i class="fa fa-linkedin"></i> &nbsp; Register with LinkedIn
                </div>
            </div>
        </div>
    </div>
    <div class="large-6 column auth-right display-flex flex">
        <div class="flex display-flex flex-column flex-justify-center in-right-oauth">
            <div class="show-for-small-only text-center logo-div">
                <a ui-sref="home" title="Home">
                    <img src="modules/core/client/img/brand/logo-medium.png">
                </a>
            </div>
            <div class="small-offset-1 small-10 large-offset-2 large-8">
                <h2>Forgot password</h2>
                <p class="hide-for-small-only">That can heppen, don't worry, we got your back!</p>
                <h3 class="show-for-small-only">Let's cocreate</h3>
            </div>
            <div class="small-offset-1 small-10 large-offset-2 large-8 flex">
                <form name="forgotPasswordForm" ng-submit="askForPasswordReset(forgotPasswordForm.$valid)" class="form-horizontal" novalidate autocomplete="off">
                    <fieldset>
                        <div class="form-group" show-errors>
                            <div class="input-inside-icon">
                                <div class="inside-icon">
                                    <i class="fa fa-envelope"></i>
                                </div>
                                <input type="text" id="email" name="email" class="form-control" ng-model="credentials.email" placeholder="Email" required>
                            </div>
                            <div ng-messages="forgotPasswordForm.email.$error" role="alert">
                                <p class="help-block error-text" ng-message="required">Enter a email.</p>
                            </div>
                        </div>
                        <div class="login-group-option">
                            <button type="submit" class="button">Reset password</button>
                            <a ui-sref="authentication.signin" title="">Back to login</a>
                        </div>
                        <div ng-show="error" class="text-center text-danger">
                            <strong ng-bind="error"></strong>
                        </div>
                        <div ng-show="success" class="text-center text-success">
                            <strong ng-bind="success"></strong>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</section>
