<section ng-controller="PasswordController" class="expanded row full-height auth-page display-flex">
    <div class="large-6 column auth-left display-flex flex-column hide-for-small-only">
        <div class="in-right-oauth display-flex flex-column layout-center">
            <div class="show-for-medium text-center logo-div">
                <a ui-sref="home" title="Home">
                    <img src="modules/core/client/img/brand/logo-medium.png">
                </a>
            </div>
            <h3 class="text-center">Let's cocreate</h3>
            <h4 class="text-center">Register with social media</h4>
            <div>
                <div ng-click="callOauthProvider('/api/auth/facebook')" role="button" class="social-button social-facebook text-left">
                    <i class="fa fa-facebook"></i> &nbsp; Register with Facebook
                </div>
                <br>
                <div ng-click="callOauthProvider('/api/auth/facebook')" role="button" class="social-button social-linkedin text-left">
                    <i class="fa fa-linkedin"></i> &nbsp; Register with LinkedIn
                </div>
            </div>
        </div>
    </div>
    <div class="large-6 column auth-right display-flex flex">
        <div class="flex display-flex flex-column flex-justify-center in-right-oauth">
            <div class="show-for-small-only text-center logo-div">
                <a ui-sref="home" title="Home">
                    <img src="modules/core/client/img/brand/logo-medium.png">
                </a>
            </div>
            <div class="small-offset-1 small-10 large-offset-2 large-8">
                <h3 class="col-md-12 text-center">Reset your password</h3>
            </div>
            <div class="small-offset-1 small-10 large-offset-2 large-8 flex">
                <form name="resetPasswordForm" ng-submit="resetUserPassword(resetPasswordForm.$valid)" class="signin form-horizontal" novalidate autocomplete="off">
                    <fieldset>
                        <div class="form-group" show-errors>
                            <label for="newPassword">New Password</label>
                            <div class="input-inside-icon">
                                <div class="inside-icon">
                                    <i class="fa fa-lock"></i>
                                </div>
                                <input type="password" id="newPassword" name="newPassword" class="form-control" ng-model="passwordDetails.newPassword" placeholder="New Password" autocomplete="new-password" required>
                            </div>
                            <div ng-messages="resetPasswordForm.newPassword.$error" role="alert">
                                <p class="help-block error-text" ng-message="required">Enter a new password.</p>
                            </div>
                        </div>
                        <div class="form-group" show-errors>
                            <label for="verifyPassword">Verify Password</label>
                            <div class="input-inside-icon">
                                <div class="inside-icon">
                                    <i class="fa fa-lock"></i>
                                </div>
                                <input type="password" id="verifyPassword" name="verifyPassword" class="form-control" ng-model="passwordDetails.verifyPassword" placeholder="Verify Password" password-verify="passwordDetails.newPassword" required>
                            </div>
                            <div ng-messages="resetPasswordForm.verifyPassword.$error" role="alert">
                                <p class="help-block error-text" ng-message="required">Enter the password again to verify.</p>
                                <p class="help-block error-text" ng-show=resetPasswordForm.verifyPassword.$error.passwordVerify>Passwords do not match.</p>
                            </div>
                        </div>
                        <div class="text-center form-group">
                            <button type="submit" class="button">Update Password</button>
                        </div>
                        <div ng-show="error" class="text-center text-danger">
                            <strong ng-bind="error"></strong>
                        </div>
                        <div ng-show="success" class="text-center text-success">
                            <strong ng-bind="success"></strong>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</section>
