<div class="session-box">
    <h3>INVITE USERS TO HACKATHON</h3>
    <!--User 1-->
    <div class="box-content">
        <h4>User 1</h4>
        <div class="row">
            <div class="small-2 columns">
                <label class="text-right middle">Name</label>
            </div>
            <div class="small-6 end columns">
                <input type="text" placeholder="Enter name..." />
            </div>
        </div>
        <div class="row">
            <div class="small-2 columns">
                <label class="text-right middle">Email</label>
            </div>
            <div class="small-6 end columns">
                <input type="text" ng-model="vm.member.user_email" placeholder="Enter email address..." />
            </div>
        </div>
        <div class="row">
            <div class="small-2 columns">
                <label class="text-right middle">Role</label>
            </div>
            <div class="small-6 end columns">
                <input type="radio" name="role" ng-model="vm.member.role" class="middle" value="organizer" id="pokemonRed">
                <label class="middle" for="pokemonRed">Organizer</label>
                <input type="radio" name="role" ng-model="vm.member.role" class="middle" value="expert" id="pokemonBlue">
                <label class="middle" for="pokemonBlue">Expert</label>
                <input type="radio" name="role" ng-model="vm.member.role" class="middle" value="jury_member" id="pokemonYellow">
                <label class="middle" for="pokemonYellow">Jury member</label>
            </div>
        </div>
        <div class="row">
            <div class="columns small-8">
                <div class="clearfix" style="margin-top: 10px">
                    <div class="button-group small float-right">
                        <button ng-click="vm.invite()" type="button" class="button">Invite</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <ul class="list-member">
                <li ng-repeat="item in vm.members" class="display-flex">
                    <div class="user-avatar">
                        <img src="{{item.user.profileImageURL}}" alt="{{item.user.displayName}}">
                    </div>
                    <div flex>
                        <strong ng-bind="item.user.displayName"></strong>
                    </div>
                    <div>
                        <button type="button" class="btn btn-sm btn-danger" ng-click="vm.removeMember(item)"><i class="fa fa-trash"></i></button>
                    </div>                    
                </li>
            </ul>
        </div>
        <div class="row">
            <ul class="list-member">
                <li ng-repeat="item in vm.invites" class="display-flex">
                    <div class="user-avatar">
                        <img src="{{item.user.profileImageURL}}" alt="{{item.user.displayName}}">
                    </div>
                    <div flex>
                        <strong ng-bind="item.user.displayName"></strong>
                    </div>
                    <div>
                        <button type="button" class="btn btn-sm btn-danger" ng-click="vm.removeInvite(item)"><i class="fa fa-trash"></i></button>
                    </div>                    
                </li>
            </ul>
        </div>
    </div>
    <div class="clearfix" style="margin-top: 10px">
        <div class="button-group small float-left">
            <button class="button">Add more...</button>
        </div>
    </div>
</div>